doc/.ipynb_checkpoints/arxiv_topic_labelling-checkpoint.ipynb
topicnaming/.ipynb_checkpoints/llm_wrappers-checkpoint.py
topicnaming/.ipynb_checkpoints/topic_naming-checkpoint.py
topicnaming.egg-info/dependency_links.txt
topicnaming.egg-info/not-zip-safe
topicnaming.egg-info/PKG-INFO
topicnaming.egg-info/requires.txt
topicnaming.egg-info/SOURCES.txt
topicnaming.egg-info/top_level.txt
toponymy.egg-info/dependency_links.txt
toponymy.egg-info/not-zip-safe
toponymy.egg-info/PKG-INFO
toponymy.egg-info/requires.txt
toponymy.egg-info/SOURCES.txt
toponymy.egg-info/top_level.txt
toponymy/__pycache__/*.pyc
toponymy/tests/__pycache__/*.pyc
toponymy/__pycache__/*.nbc
toponymy/__pycache__/*.nbi
.mypy_cache/*
.coverage*
build/*
dist/*
*.egg-info
*.egg