black
isort
pylint
pytest
umap-learn
anthropic
cohere
openai
azure-ai-inference
llama-cpp-python
mistralai
torch>=1.13,<2.3
numpy>=1.26,<2.0
sentence-transformers>=2.2.2,<3.0
transformers>=4.30,<4.40
pytest-asyncio
bm25s
evoc